{% extends "core/base.html" %}
{% block content %}
    <main class="container mt-4 rounded">
        <h1>Пресс-релизы</h1>
        <div class="container">
            {% for press in page_obj %}
            <div class="row">
                <div class="col-lg-10 col-md-8 col-sm-10 col-12">
                    <div class="overflow-auto border rounded item bg-white d-flex flex-grow-1 flex-column flex-md-row align-items-left mb-3">
                        <div class="col-8 order-2">
                            <div class="mb-2">
                                {% for tag in press.tags.all %}
                                    <span class="badge">#{{ tag.name }}</span>
                                {% empty %}
                                {% endfor %}
                            </div>
                            <h5><a href="{% url 'landing:press_detail' press.slug %}" class="text-decoration-none">{{ press.title }}</a></h5>
                            <p>Краткое описание новости...</p>
                        </div>
                        <div class="d-flex order-1 order-md-2 order-sm-1 flex-grow-1 d-flex justify-content-end">
                            <img src="{{ press.thumbnail.url }}" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% include "core/paginator.html" %}
    </main>

{% endblock %}