<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Совет ректоров вузов Дальневосточного федерального округа</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body class="bg-bright">
    <!-- Header -->
    <header class="navbar navbar-expand-lg navbar-light bg-bright shadow">
        <a class="navbar-brand" href="{% url "landing:main" %}"><img src="6.jpg" alt="Logo" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="{% url "landing:main" %}">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">О совете</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url "landing:news" %}">Мероприятия и новости</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url "landing:press" %}">Для прессы</a></li>
                <li class="nav-item"><a class="nav-link" href="documents.html">Документы</a></li>
                <li class="nav-item"><a class="nav-link" href="contacts.html">Контакты</a></li>
            </ul>
        </div>
    </header>

    {% block content %}

    {% endblock %}

    <footer id="contact" class="bg-bright text-center text-lg-start mt-4">
        <div class="container p-4">
            <p>© Совет ректоров вузов Дальневосточного федерального округа</p>
            <p><a class="text-decoration-none all font-weight-bold" href="#">Связаться с нами</a></p>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    
</body>
</html>
                        