{% block content %}
<div class="container mt-4">
    <div class="horizontal-bar mb-3"></div>
</div>
<footer id="contact" class="bg-bright text-center text-lg-start mt-4">
    <div class="container text-left">
        <p class="text-center">© Совет ректоров вузов Дальневосточного федерального округа</p>
        <b><p class="font-weight-bold h6">690922, Приморский край, г. Владивосток, о. Русский, п. Аякс, 10</p></b>
        <b><p class="font-weight-bold h6">rectorsdfo@dvfu.ru</p></b>
    </div>
</footer>
{% endblock %}