{% extends "core/base.html" %}
{% block content %}
<main class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1>{{ announcement.title }}</h1>
            <div class="container mt-3">
                <div class="horizontal-bar mb-3"></div>
            </div>
            <div class="content text-left">
                <p>{{ announcement.text|linebreaks }}</p>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row no-gutters">
            {% for photo in announcement.photos.all %}
            <div class="col-md-3 col-6 gallery-item">
                <a href="{{ photo.image.url }}" data-fancybox="gallery">
                    <img src="{{ photo.image.url }}" class="img-fluid" alt="Image">
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="container mt-3">
            <div class="horizontal-bar mb-3"></div>
        </div>
    </div>
</main>

{% endblock %}