{% extends "core/base.html" %}
{% block content %}
<main class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1>{{ video.title }}</h1>
            <div class="container mt-3">
                <div class="horizontal-bar mb-3"></div>
            </div>
            {% if video.video_url %}

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ video.get_embeded_url }}" frameborder="0" allowfullscreen></iframe>
            </div>
            {% elif video.video_file %}
            <video controls class="img-fluid mx-auto d-block" id="video-player">
                <source src="{{ video.video_file.url }}" type="video/mp4">
            </video>
        {% else %}
            <p>Нет доступного видео для отображения.</p>
        {% endif %}
        </div>
        {% if video.text %}
        <div class="content text-left">
            <p>{{ report.text|linebreaks }}</p>
        </div>
        {% endif %}
    </div>
    <div class="row">
        {% for photo in report.photos.all %}
        <div class="col-md-4 mb-4">
            <img src="{{ photo.image.url }}" class="img-fluid rounded" alt="Image">
        </div>
        {% endfor %}
        <div class="container mt-3">
            <div class="horizontal-bar mb-3"></div>
        </div>
    </div>
</main>

{% endblock %}