body {
    font-family: 'Arial', sans-serif;
}

.hero {
    background: url('background.jpg');
    background-size: contain;
    color: white;
    text-align: center;
    position: relative;
    padding: 100px;
}

.hero h1 {
    font-size: 3em;
}

.btn-more {
    margin-top: 20px;
}

.greeting {
    background-color: white;
    padding: 40px 0;
}

.greeting img {
    max-width: 100%;
}



.news-item, .event-item {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.horizontal-bar {
    height: 1px; /* Высота полосы */
    background-color: #31313685; /* Цвет полосы */
}

.vertical-bar {
    width: 1px; /* Ширина полосы */
    background-color: #31313685; /* Цвет полосы */
}
.bar-container {
    display: flex;
    height: 100%; /* Полоса растягивается на высоту строки */
}
.row {
    min-height: 100px; /* Минимальная высота строки для наглядности */
}
.col {
    display: flex;
    align-items: stretch; /* Растягивает элементы по высоте */
}

.carousel-inner img {
    width: 100%; /* Сделать изображение на всю ширину */
    height: auto; /* Фиксированная высота изображения */
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.carousel-indicators {
    position: absolute;
    bottom: -30px; /* Расположить индикаторы немного ниже карусели */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0;
    list-style: none;
}
.carousel-indicators li {
    background-color: #007bff; /* Цвет для неактивных индикаторов */
    border-radius: 50%;
    width: 9px;
    height: 9px;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: #003d7d; /* Темно-синий цвет для активного индикатора */
}
.carousel-indicators li:not(.active) {
    background-color: #cce5ff; /* Цвет для неактивных индикаторов */
}

.bg-bright {
    background-color: #f0f0f0;
}

footer {
    flex-shrink: 0;
}
.hidden {
    overflow: hidden;
}

.detail {
    color:#071d35cd
}

.all {
    color:#003d7d
}

.detail_info {
    color:#02458ecf
}

.card {
    height: 100%;
}

.card-img-top img {
    max-height: 100%;
    object-fit: cover;
}
.h-60 {
    height: 60%;
}

.carousel-control-prev, .carousel-control-next {
    width: 3rem;
    height: 3rem;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 100%, 100%;
}

body {
    font-family: Arial, sans-serif;
}


.img-fluid {
    width: 100%; 
    height: auto; 
}

.gallery-item {
    margin-bottom: 0; 
}

.header {
    background-color: #1559a2;
    padding: 10px 0;
    color: white;
}

.bg-blue {
    background-color: #12477f;
}


#brief_inf {
    display: flex;
    align-items: flex-start;
    background-color: #007BFF;
    color: white;
    padding: 20px;
    overflow: hidden; /
}

#brief_inf ul {
    list-style-type: none;
}

#brief_inf #svg li {
    width: 48%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

h3 {
    font-size: 48px;
}

#brief_inf #svg div {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-size: 24px;
}

#brief_inf a {
    text-decoration: none;
}


#brief_inf path {
    stroke: #ffffff;
}

#brief_inf .nexist {
    fill: #bbbbbb;
    cursor: pointer;
}

#brief_inf .other {
    fill: rgb(111, 184, 141);
    cursor: pointer;
}

#brief_inf .exist {
    fill: rgb(176, 31, 31);
    cursor: pointer;
}

#brief_inf .other:hover, #brief_inf .exist:hover, #brief_inf .nexist:hover {
    fill: rgb(119, 0, 255);
}

#brief_inf .other:active, #brief_inf .exist:active, #brief_inf .nexist:active {
    fill: rgb(119, 0, 255);
}

#brief_inf #speech li {
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
}

#region_inf {
    width: 100%;
    height: auto;
}

#brief_inf {
    display: flex;
    align-items: center;
    background-color: #12477f;
    color: white;
    padding: 20px;
}

#brief_inf .text-container {
    flex: 0 0 35%;
    margin-right: 20px;
    font-size: 1.5rem;
    justify-content: center;
}

.svg-container {
    flex: 1;
    max-width: 70%;
}

#brief_inf svg {
    width: 100%;
    height: auto; 
    min-width: 400px; 
}

@media (max-width: 1000px) {
    #brief_inf {
        flex-direction: column;
        align-items: center; 
    }
}

.light-blue-text {
    color:rgb(65, 155, 196);
    font-size: 1.5rem;
}

.ml {
    margin-left: 1.5rem;
}
.borders {
    border: 1px solid rgba(167, 161, 161, 0.302);
}