{% extends "core/base.html" %}
{% block content %}
<main>
    <div class="container mt-5">
        <div class="text-center mb-4 light-blue-text">
            <h1 class="font-weight-bold">Руководство Совета ректоров вузов Дальневосточного федерального округа</h1>
        </div>
        
         <!-- Description -->
        <div class="text-left mb-5">
            <h5 class="font-weight-bold">
                Работой Совета руководит председатель, а в его отсутствие - заместитель председателя, избираемые из числа
                председателей советов ректоров высших учебных заведений субъектов Российской Федерации или ректоров ведущих вузов
                Дальневосточного федерального округа.
            </h5>
        </div>

         <!-- Members Section -->
    <div class="row">
        {% for member in leads %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex">
            <div class="bg-bright borders">
                <img src="{{ member.profile_image.url }}" class="img-fluid" alt="{{ member.name }}" style="object-fit: cover; width: 100%; height: 300px;">
                <div class="card-body">
                    <p class="card-text text-left h6"><b>{{ member.last_name }} {{member.name}} {{member.surname}},</b> {{ member.describtion }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="text-left mt-5 mb-4 light-blue-text">
        <h2 class="font-weight-bold">Президиум Совета ректоров вузов Дальневосточного федерального округа</h2>
    </div>
    <!-- Presidium Description -->
    <div class="text-left mb-5">
        <p class="h5 font-weight-bold">
            Президиум Совета формируется в целях осуществления общего руководства деятельностью Совета в период между его
            заседаниями. Президиум формируется из числа председателей Советов ректоров вузов субъектов Российской Федерации
            в Дальневосточном федеральном округе. Возглавляет президиум председатель Совета ректоров вузов Дальневосточного
            федерального округа.
        </p>
    </div>
    <div class="text-left mt-5 mb-4">
        <p class="font-weight-bold h3">Состав Президиума</p>
    </div>
    <div class="text-left">
        {% for presidium_member in presidium %}
        <p><b>{{presidium_member.member.last_name}} {{presidium_member.member.name}} {{presidium_member.member.surname}}</b>, {{presidium_member.member.describtion}}</p>
        {% endfor %}
    </div>

    <div class="text-left mt-5 mb-4 light-blue-text">
        <h2 class="font-weight-bold">Советы ректоров вузов Дальневосточного федерального округа</h2>
    </div>

    <div class="row text-left">
        {% for council in councils %}
        <div class="col-lg-6 col-md-6 col-sm-12 mb-4 d-flex align-items-stretch">
            <div class="card flex-grow-1 bg-bright">
                <div class="card-body text-left">
                    <p class="card-title light-blue-text font-weight-bold">{{ council.name }}</p>
                    <p class="card-text">Председатель</p>
                    <p class="card-text">{{ council.chairperson.last_name }} {{ council.chairperson.name }} {{ council.chairperson.surname }}</p>
                    <p class="card-text">{{ council.chairperson_describtion }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container mt-3">
        <div class="horizontal-bar mb-3"></div>
    </div>
</main>

{% endblock %}